@import "tailwindcss";

@layer components {
  .btn {
    @apply border rounded-xl p-2 border-gray-300 hover:bg-gray-100 bg-gray-50 
    hover:disabled:bg-gray-50 cursor-pointer disabled:cursor-default disabled:text-gray-300
  }

  .input-field {
    @apply border p-2 px-3 border-gray-300 rounded-xl placeholder:text-gray-200 placeholder:italic w-full text-white
  }

  .input-field.invalid {
    @apply border-red-300 outline-red-300
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: black;
}

.bg-light {
  width: 40%;
  height: 40%;
  background: #152331;
  background: -webkit-linear-gradient(to right, #5468f9a8, #6a0e6db3);
  background: linear-gradient(to right, #5468f9a8, #6a0e6db3);
  border-radius: 100%;
  filter: blur(120px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleX(2.5);
  z-index: 1;
  top: -10%;
}

.welcome-text h1 {
  font-size: clamp(1.85rem, 4vw, 3rem);
}

.welcome-text h2 {
  font-size: clamp(1.75rem, 3vw, 2.5rem);
 }

 .section-title {
  font-size: clamp(1.5rem, 3vw, 2rem);
 }

 .form-container {
  max-width: 500px;
 }
